h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: xx-large;
    color: grey;
}

.topRow {
    height: 250px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}
.middleRow {
    height: 250px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}
.bottomRow {
    height: 250px;
    background-color: burlywood;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px
}

.octoCat {
    height: 200px;
}